**557. Reverse Words in a String III**

In [1]:
s = "Let's go now"
lastSpaceIndex = -1 #initialized to -1 to account for the first word that's at index 0
for i in range(len(s)):
  strIndex = s[i]
  if strIndex == " ":
    lastSpaceIndex = i + 1
    print(lastSpaceIndex)

6
9

**344. Reverse String**

Write a function that reverses a string. The input string is given as an array of characters s.

You must do this by modifying the input array in-place with O(1) extra memory.

In [2]:
"""
How would you tackle this problem?
To modify the characters of s, while not creating a new variable to store s.

index value of x is 0 -> 4
To reverse the entire string, inside a for loop I can set s = [-i] for n+1 which
will asigne the last letter frist in the string. Usually assign it to a new
variable.
To modify it in place, try...index reassignment?
No need to do it by brute force if there's already a function for it. May be
worth trying to understand though
"""
s = ["h","e","l","l","o"]
s.reverse()
print(s)

['o', 'l', 'l', 'e', 'h']

In [ ]:
# trying to simultaneously swap index values

**1512. Number of Good Pairs**

In [3]:
nums = [1,2,3,1,1,3]
res = 0
for i in range(len(nums)):
    l, r = i, i
    while l >= 0 and r < len(nums):
      if nums[l] == nums[r]:
        if l < r:
          res +=1
      r += 1
print(res)

4

**1929. Concatenation of Array**

Input: nums = [1,2,1]
Output: [1,2,1,1,2,1]
Explanation: The array ans is formed as follows:
- ans = [nums[0],nums[1],nums[2],nums[0],nums[1],nums[2]]
- ans = [1,2,1,1,2,1]

In [4]:
nums = [1,3,2,1]
n = len(nums)
ans = []
for i in range(len(nums)):
  ans.insert(i,nums[i])
  ans.insert(i+n,nums[i])
print(ans)

# alternatively you can just set ans = nums, then do ans.insert(i+n, nums[i])

[1, 3, 2, 1, 1, 3, 2, 1]

**1920. Build Array from Permutation**

Given a zero-based permutation nums (0-indexed), build an array ans of the same length where ans[i] = nums[nums[i]] for each 0 <= i < nums.length and return it.

A zero-based permutation nums is an array of distinct integers from 0 to nums.length - 1 (inclusive).

In [5]:
nums = [5,0,1,2,3,4]
n = len(nums)
ans = []
for i in range(n):
  ans.append(nums[nums[i]])
  print(ans)

# there may be a way to do this with to save memory. Attack again after getting a better understanding of algorithms

[4]
[4, 5]
[4, 5, 0]
[4, 5, 0, 1]
[4, 5, 0, 1, 2]
[4, 5, 0, 1, 2, 3]

**1108. Defanging an IP Address**
Given a valid (IPv4) IP address, return a defanged version of that IP address.

A defanged IP address replaces every period "." with "[.]".

In [6]:
address = "255.100.50.0"
n = len(address)
newAdd = ""
for i in range(n):
  if address[i] != ".":
    newAdd = newAdd + address[i]
  else:
    newAdd = newAdd + "[.]"
print(newAdd)

255[.]100[.]50[.]0

**2879. Display the First Three Rows**

DataFrame: employees
+-------------+--------+
| Column Name | Type   |
+-------------+--------+
| employee_id | int    |
| name        | object |
| department  | object |
| salary      | int    |
+-------------+--------+
Write a solution to display the first 3 rows of this DataFrame.

In [1]:
import pandas as pd

df = pd.DataFrame(
    {
        "employee_id": [3, 90, 9, 60, 49, 43],
        "name": ["Bob", "Alice", "Tatiana", "Anabelle", "Jonathan", "Khaled"],
        "department": ["operations", "sales", "engineering", "IT", "HR", "Admin"],
        "salary": [48675, 11096, 33805, 37678, 23793, 40454],
    }
)

def selectFirstRows(employees: pd.DataFrame) -> pd.DataFrame:
    frst_3_rows = employees.head(3)
    return frst_3_rows

emp = selectFirstRows(df)
emp

   employee_id     name   department  salary
0            3      Bob   operations   48675
1           90    Alice        sales   11096
2            9  Tatiana  engineering   33805

**2884. Modify Columns**

A company intends to give its employees a pay rise.

Write a solution to modify the salary column by multiplying each salary by 2.

The result format is in the following example.

In [47]:
df = pd.DataFrame(
    {
        "name": ['jack', 'piper', 'mia', 'ulysses'],
        "salary": [19666, 74754, 62509, 54866],
    }
)

def modifySalaryColumn(employees: pd.DataFrame) -> pd.DataFrame:
    employees.iloc[:,1] = employees.iloc[:,1]*2
    return employees

emp_2884 = modifySalaryColumn(df)
emp_2884

      name  salary
0     jack   39332
1    piper  149508
2      mia  125018
3  ulysses  109732

**977. Squares of a Sorted Array**

Given an integer array nums sorted in non-decreasing order, return an array of the squares of each number sorted in non-decreasing order.

In [64]:
nums = [-4,-1,0,3,10]

class Solution(object):
    def sortedSquares(self, nums):
        squares = [num**2 for num in nums]
        squares.sort()
        return squares

sorted_977 = Solution().sortedSquares(nums)
sorted_977

[0, 1, 9, 16, 100]

**1757. Recyclable and Low Fat Products**

Write a solution to find the ids of products that are both low fat and recyclable.

Return the result table in any order.

The result format is in the following example.

In [71]:
# import pandas as pd
table = pd.DataFrame(
    {
        'product_id': [0,1,2,3,4],
        'low_fats': ['Y','Y','N','Y','N'],
        'recyclable': ['N','Y','Y','Y','N'],
    }
)

def find_products(products: pd.DataFrame) -> pd.DataFrame:
    ind = []
    for index, (fats, rec) in enumerate(zip(products['low_fats'], products['recyclable'])): # you can iterate to variables on two separate columns simultaneously
        if fats == 'Y' and rec == 'Y':
            ind.append(index) 
    return products.iloc[ind, [0]] # include the square brackets around the column index to return a dataFrame instead of a Series



        # products.iloc[ind]

both_low = find_products(table)
both_low



# Troubleshooting code
# ----------------------------------------------------------------------------------------------------------------------------------------------------
# for index, (fats, rec) in enumerate(zip(table['low_fats'], table['recyclable'])): # you can iterate to variables on two separate columns simultaneously
#     if fats == 'Y' and rec == 'Y':
#         print(index)

# for i in table.iloc[:,1]:
#     if i == 'Y':
#         index = table[table.iloc[:,1] == 'Y'].index[0]
#         print(index)

   product_id
1           1
3           3